.site-login {
    width: 100%;
}

.site-login > h1{

}

.site-login>p {
    text-align: center;
}

.site-login>form{
    margin-bottom: 100px;
}

.site-login > form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.control-label{
    text-align: start;
}

.site-login > form > .form-group{
    min-width: 300px;
}

.site-login > form > .form-group > .help-block{
    width: 100%;
    text-align: center;
}