.userdata>a:hover {
    text-decoration: none;
}

.panel-productlist{
    border: 0 !important;
}

.panel-productlist>.panel-wrapper-table {
    border-radius: 10px !important;
    display: grid;
    border: none;
}

.panel-productlist > .panel-wrapper-table > .line {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px ;
    margin: 0 auto;
    height: 50px;
    border: none;
    /* gap: 1px solid var(--header-footer-violet-clr); */
    /* border-top: 1px solid var(--header-footer-violet-clr); */
    /* border-right: 1px solid var(--header-footer-violet-clr); */
    /* border-left: 1px solid var(--header-footer-violet-clr); */
}

.panel-productlist > .panel-wrapper-table>.line:last-child>div{
    /* border-bottom: 1px solid var(--header-footer-violet-clr); */
    
}

.panel-productlist > .panel-wrapper-table>.line:last-child>div:first-child{
    border-bottom-left-radius: 10px;
}

.panel-productlist > .panel-wrapper-table>.line:last-child>div:last-child{
    border-bottom-right-radius: 10px;
}

.panel-productlist > .panel-wrapper-table > .line>div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: var(--header-footer-violet-clr);
    display: flex;
    align-items: center;
    /* border-left: 1px solid var(--header-footer-violet-clr); */
    justify-content: center;
}

.panel-productlist > .panel-wrapper-table > .line>div>span{
    margin-left: 20px;
    display: flex;
}

.panel-productlist > .panel-wrapper-table > .header-line>div>span{
    margin: 0;
}

/* .panel-productlist > .panel-wrapper-table > .line>div:first-child{
    border: none;
} */

.panel-productlist > .panel-wrapper-table >  .header-line {
    justify-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-productlist > .panel-wrapper-table >  .header-line>div {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--header-footer-violet-clr);
    justify-content: center;
    /* border-left: 1px solid var(--header-footer-violet-clr); */
}

.panel-productlist > .panel-wrapper-table > .line>.tab-1-header {
    grid-column: 1 !important;
    width: 100% !important;
    border-left: 1px solid var(--header-footer-violet-clr) !important;
    justify-content: center !important; 
    border-top-left-radius: 10px;
}

.panel-productlist > .panel-wrapper-table > .line>.tab-6-header {
    border-left: 1px solid var(--header-footer-violet-clr) !important;
    justify-content: center !important; 
    border-top-right-radius: 10px;
}

.panel-productlist > .panel-wrapper-table > .line>.tab-1 {
    grid-column: 1;
    width: 100%;
    justify-content: flex-start;
    border-left: 1px solid var(--header-footer-violet-clr);
    border-top: 1px solid var(--header-footer-violet-clr);
    /* border: 1px solid var(--header-footer-violet-clr); */
}

.panel-productlist > .panel-wrapper-table > .line>.tab-2 {
    grid-column: 2;
    border-top: 1px solid var(--header-footer-violet-clr);
    width: 100%;
    /* border: 1px solid var(--header-footer-violet-clr); */
}

.panel-productlist > .panel-wrapper-table > .line>.tab-3 {
    grid-column: 3;
    border-top: 1px solid var(--header-footer-violet-clr);
    width: 100%;
    /* border: 1px solid var(--header-footer-violet-clr); */
}

.panel-productlist > .panel-wrapper-table > .line>.tab-4 {
    grid-column: 4;
    border-top: 1px solid var(--header-footer-violet-clr);
    width: 100%;
}

.panel-productlist > .panel-wrapper-table > .line>.tab-5 {
    grid-column: 5;
    border-top: 1px solid var(--header-footer-violet-clr);
    width: 100%
}

.panel-productlist > .panel-wrapper-table > .line>.tab-6 {
    grid-column: 6;
    border-top: 1px solid var(--header-footer-violet-clr);
    width: 100%;
    border-right: 1px solid var(--header-footer-violet-clr);
}