h1{
    line-height: 110px;
}

.page-header{
    padding-bottom: 0 !important;
    margin: 100px auto !important;
}

.row-even, .row-odd{
    outline: 2px solid var(--header-footer-violet-clr);
    margin-bottom: 15px;
    border-radius: 20px;
    height: 100px;
    display: flex;
    align-items: center;
}

.special{
    outline: 2px solid var(--main-red-clr);
}

.special > .col-xs-1 > .table-text,
.special > .col-xs-3 > .table-text > a,
.special > .col-xs-1 > .table-text > i {
    color: var(--main-red-clr) !important;
}

.col-xs-1, .col-xs-2, .col-xs-6, .col-xs-3{
    height: 100%;
    display: flex;
    align-items: center;
}

.col-xs-1{
    justify-content: flex-end;
}

.img-small-borders{
    box-shadow: 0 0 0 2px var(--header-footer-violet-clr) !important;
}

.last-special{
    margin-bottom: 50px;
}

/* .col-xs-3{
    justify-content: flex-end;
} */

.col-xs-3 > .table-text {
    height: 100%;
    display: flex;
    background-color: var(--main-white-color);
    align-items: center;
}
.drop-list > .nav > .open > .dropdown-toggle{
    background-color: var(--main-white-color) !important;
}

.drop-list > .nav > li > a {
    color: var(--header-footer-violet-clr) !important;
}

.drop-list > .nav > .open > .dropdown-menu{
    /* position: relative; */
    left: -115px;
    background-color: var(--main-white-color);
}

.drop-list > .nav > .open > .dropdown-menu > li:first-child{
    margin-bottom: 5px;
}


@media(max-width: 500px){
    .row-even, .row-odd{
        height: 75px;
    }

    .col-xs-1{
        padding-left: 30px !important;
        padding-right: 0 !important;
    }

    .col-xs-2{
        height: 50px !important;
        width: auto !important;
        padding-right: 10px !important;
    }

    .col-xs-2 > .img-small-borders{
        height: 50px !important;
        width: 50px !important;
    }

    .col-xs-6{
        padding-left: 0 !important;
        padding-right: 10px !important;
    }

    .col-xs-3{
        padding-left: 0 !important;
        justify-content: center;
    }
}

@media(min-width: 500px) and (max-width: 700px){
    .col-xs-1{

    }

    .col-xs-2{
        height: 75px !important;
        width: auto !important;
        /* padding-right: 10px !important; */
    }

    .col-xs-2 > .img-small-borders{
        height: 75px !important;
        width: 75px !important;
    }

    /* .col-xs-6{
        padding-left: 0 !important;
        padding-right: 10px !important;
    } */
/* 
    .col-xs-3{
        justify-content: center;
    } */
}

@media (min-width: 700px) and (max-width: 1200px) {
    .col-xs-1{

    }

    .col-xs-2{
        height: 75px !important;
        width: auto !important;
        /* padding-right: 10px !important; */
    }

    .col-xs-2 > .img-small-borders{
        height: 75px !important;
        width: 75px !important;
    }

    /* .col-xs-6{
        padding-left: 0 !important;
        padding-right: 10px !important;
    } */
/* 
    .col-xs-3{
        justify-content: center;
    } */    
}

@media (min-width: 1200px) {
    .col-xs-2{
        width: auto !important;
    }

    .img-small-borders{
        width: 75px !important;
        height: 75px !important;
    }
}